@CHARSET "ISO-8859-1";

.title {
	color: blue;
}

body {
	background-color: #10619b;
}

.wrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding-bottom: 100px;
}

h1.title {
	text-align: center;
}

#button_add {
	display: block;
	float: right;
	
	width: 50px;
	height: 50px;
	margin-right: 152px;
	
	background-color: red;
	
}

#games_table {

	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;

	border: 1px solid gray;
}

#games_table td {
	padding: 10px;
}

#games_table th {
	padding: 10px;
	background-color: #1a5163;
	color: white;
}

#games_table a {
	text-decoration: none;
}

#games_table a:visited {
	text-decoration: none;
	color: #1a1c1c;
}

#games_table tr.hover {
	color: red;
}

.game_cell {
	width: 50%;
}

#console {
	width: 900px;
	height: 100px;
	display: block;
	
	position: absolute;
	left: 100px;
	top: 300px;
	background-color: #000010;
	opacity:0.7;
	
	padding-right: 5px;
}

#console .console_text {
	width: 97%;

	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: auto;
	height: 80px;
	
	opacity:100;
	color: #B2B2B2;
	overflow-y: scroll;
}

#console .console_text p {
	margin:5px 0px;
	
}

#console .close_icon {
	display: block;
	width: 17px;
	height: 17px;
	//background-color: red;
	
	position: absolute;
	top: 0px;
	right: 0px;
}

.selected_row {
	background-color: #94FF70;
	cursor: pointer;
}

.selected_cell {
	background-color: #00CC00;
	cursor: pointer;
}

