@CHARSET "ISO-8859-1";

.error {
	color: red;
	font-size: 12px;
	
	margin-top: 20px;
	padding-top: 30px;
}

.ghost {
	display: block;
	width: 100px;
	height: 10px;
	//background-color: green;
}

.red {
	background-color: blue;
}

#whiteColor {
	color: white;
}

.tableTextOnTop {
	vertical-align: top;
}

.tableTextOnCenter {
	text-align: center;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}

#formGame td {
	padding: 10px;
}


.clonedInput {
	margin: 20px 20px;
}

#addPicForm label {
	margin-right: 10px;
}

#picContainer {
	width: 700px;
}

#picContainer img {
	float: left;
}